strong{
    display: block;
}

.post-list{
    width: 100%;
    max-width: 580px;
    margin: 0 auto;
    padding: 0 30px;
}

.post-item{
    background-color: #FFF;
    border: 1px solid #ddd;
    margin-top: 30px;
}

.post-item header {
    padding: 20px 20px 20px 0px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.user-info{
    display: flex;
    flex-direction: column;
}

.user-info .user{
    font-size: 13px;
}

.user-header {
    flex-direction: row;
    display: flex;
}

.user-picture-container {
    width: 30px;
    border: 1px solid #ddd;
    border-radius: 20px;
    margin: 0 10px;
    overflow: hidden;
    text-align: center;
    vertical-align: middle;
    padding-top: 2%;
}

.plus{
    align-self: flex-end;
}

.user-info .place{
    font-size: 11px;
    color: #666;
    margin-top: 3px;
}

.post-image{
    width: 100%;
}

.post-footer{
    padding: 20px;
}

.post-footer .actions{
    margin-bottom:10px;
}

.post-footer .actions img{
    height: 20px;
    margin-right: 10px;
}

.post-description{
    font-size: 13px;
    margin-top: 2px;
    line-height: 18px;
}

.post-hashtags{
    color: #7159c1;
    display: block;    
}

.comment-section {
    margin-top: 15px;
}

.comment-item {
    display: block;
    margin-top: 5px;
    font-size: 12px;
}

.comment-item_user {
    font-weight: bold;
}

.comment-item_comment {
    color: #888;
}

.like-button{
    cursor: pointer;
}

.like-button:active{
    outline-color: red;
    outline-width: 2px;
    outline-style: solid;
}